@font-face { //需要在index.js中import
	font-family: 'Roboto';
	src: url('../node_modules/roboto-fontface/fonts/Roboto/Roboto-Regular.eot'); /* IE9 Compat Modes */
	src: url('../node_modules/roboto-fontface/fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	   url('../node_modules/roboto-fontface/fonts/Roboto/Roboto-Regular.woff2') format('woff2'), /* Super Modern Browsers */
	   url('../node_modules/roboto-fontface/fonts/Roboto/Roboto-Regular.woff') format('woff'), /* Pretty Modern Browsers */
	   url('../node_modules/roboto-fontface/fonts/Roboto/Roboto-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
	font-weight: normal;
	font-style: normal;
}

@font-family: Roboto, "Hiragino Sans GB", "Microsoft YaHei", SimHei, sans-serif;

body {
	@f: 20px;
	
	font-family: @font-family;
	font-size: @f;
	color: #333;
}